.button {
    background-image: url('/Assets/3rdParty/SimplePixelUI/artwork/halfcustomizible/square/Buttons/button_1.png');
    width: 100%;
    margin: 5px;
    font-size: 32px;
    -unity-font: url('/Assets/3rdParty/TextMesh Pro/Examples & Extras/Fonts/Electronic Highway Sign.TTF');
    white-space: normal;
    -unity-text-align: upper-center;
}

.button:focus {
    -unity-background-image-tint-color: rgb(230, 230, 230);
}

.button:hover {
    -unity-background-image-tint-color: rgb(230, 230, 230);
}

.button:active {
    background-image: url('/Assets/3rdParty/SimplePixelUI/artwork/halfcustomizible/square/Buttons/button_2.png');
}

.plate {
    height: auto;
    justify-content: center;
    align-items: center;
    top: auto;
    position: relative;
    background-image: url('/Assets/3rdParty/SimplePixelUI/artwork/halfcustomizible/square/Background.png');
    -unity-background-image-tint-color: rgb(194, 194, 194);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
